* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
}

#was-navigation {
  margin: 5px;
  padding: 20px;
  flex: 0 0 100%;
}

nav h3 {
  display: inline;
}

a {
  /* float: right; */
  text-decoration: none;
  color: darkgreen;
  /* margin: 5px; */
}

a:hover {
  color: slategrey;
}

main {
  margin: 5px;
  padding: 20px;
  border: 1px solid blue;
  flex: 0 0 100%;
}

#headshot {
  width: 233px;
  min-width: 38%;
  max-width: 100%;
  margin: auto;
}

#smaller-headshot {
  width: 233px;
  min-width: 5%;
  max-width: 100%;
  margin: auto;
}

#sub-heading {
  font-size: large;
  margin-bottom: 10px;
}

.column {
  width: 300px;
  height: 300px;
}

#main-left-column {
  margin: auto;
  font-size: x-large;
  text-align: center;
}

#main-right-column {
  padding-top: 30px;
  margin: auto;
  font-size: large;
}

#resume-left-column {
  margin: auto;
  font-size: x-large;
  text-align: center;
}

#resume-right-column {
  padding-top: 30px;
  margin: auto;
  font-size: large;
}

.wrapper {
  /* height: 70vh; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.banner {
  display: flex;
  justify-content: flex-start;
  width: 900px;
  flex-wrap: wrap;
  padding-top: 40px;
}

.main-container {
  text-align: left;
  flex: 0 0 100%;
  padding: 20px;
  padding-left: 70px;
}

.main-container h1 {
  color: lightslategray;
  /* margin: 0px; */
}

.main-continer h2, h3, p {
  /* margin: 0px; */
}

.sub-container {
  margin-left: 20px;
}

.logos {
  margin-right: 15px;
  width: 24px;
}

#resume {
  margin-bottom: 15px;
  font-size: smaller;
}

@media all and (min-width: 960px) {
  h1 {
    font-size: 50px; }
  h2 {
    font-size: 30px; }
}

@media all and (max-width: 959px) and (min-width: 600px) {
  h1 {
    font-size: 5vw; }
  h2 {
    font-size: 3vw; }
}

@media all and (max-width: 599px) and (min-width: 50px) {
  h1 {
    font-size: 6vw; }
  h2 {
    font-size: 4vw;}
}
